@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = "Cuenta Activada";
}

<div class="card border-0  p-5 text-center bg-white mx-auto " style="max-width: 376px; width: 100%; border-radius: 0.8rem; ">
  
    <div class="d-flex justify-content-center mb-3">
        <img src="~/images/cohete.png" alt="Activación Exitosa" class="img-fluid" style="width: 90px; height: auto;" />
    </div>

    <h5 class="fw-semibold " style=" font-size: 1.2rem;">¡Bienvenida, July!</h5>
    

    <p class=" small px-3 lh-base my-5 fw-light" style="font-size: 0.7rem;">
        Su cuenta en el aplicativo X está activada.<br /><br />
        Ya puede iniciar sesión.
    </p>
    
    <div class="d-grid mt-2 mb-2">
        <a href="/Auth/Login" class="btn btn-primary  py-2" style="background-color: #0156AC; border-color: #0156AC; border-radius: 0.4rem;">Iniciar sesión</a>
    </div>

</div>
